.avr-left-menu-item {
    list-style-type: none;
    height:22px;
    width:22px;
    padding-top:3px;
    padding-right: 50px;
    padding-bottom:3px;
    padding-left:3px;
    text-align: center;
    float: left;
}

.avr-right-menu-item {
    list-style-type: none;
    height:22px;
    padding:3px;
    text-align: center;
    float: right;
}

.avr-header {
    margin-top: 15px;
    margin-left: 30px;
}

.avr-help {
    padding: 20px;
    width: 500px;
    padding: 20px;
    max-height: 338px;
    margin-right: 50px;
}


.avr-help-button {
    margin-left: 10px;
    margin-right: 5px;
}


td.avr-title {
    vertical-align: top;
    font-weight: bold;
}

button.avr-delete-button {
    float: left;
}

button.important-button {
    color: #DB3737 !important;
}
